<h2><%= @dataset.title[0] %></h2>
<br/>
<p>
  <% unless @dataset.doi == [] or @dataset.doi == [""] %>
      <strong>DOI:</strong>
      <% @dataset.doi.each do |d| %>
          <%= d %><br/>
      <% end %>
  <% end %>
  <strong>Creator:</strong>
  <% @dataset.creator_resource.each do |c| %>
      <%= c.preflabel %><br/>
  <% end %>
  <strong>Managing Department:</strong>
  <% @dataset.managing_organisation_resource.each do |m| %>
      <%= m.preflabel %><br/>
  <% end %>
  <strong>Publisher:</strong>
  <% @dataset.publisher.each do |p| %>
      <%= p %><br/>
  <% end %>
</p>
