<p id="notice"><%= @notice %></p>

<%= render 'dataset_metadata' %>


<% if @dataset.aips.size == 0 %>
    <p>The researcher has not yet deposited the data.</p>
<% else %>
    <% if @dataset.dips.size == 0 %>

        <p>We need to prepare this data for download. Please provide your email address below and we will contact
          you as soon as the download is ready.</p>
        <p>
          <%= render 'form_email' %>
        </p>
    <% else %>
        <% if @dataset.dips.first.dip_status != 'UPLOADED' %>
            <p>We are preparing this data for download. Please provide your email address to be alerted once the
              data becomes available.</p>
            <p>
              <%= render 'form_email' %>
            </p>

        <% else %>
            <h3>Download the Data</h3>
            <% @dip_files.each do |key, f| %>
                 <%= link_to f[:file_path], f[:file_uri] %> <br/>
            <% end %>
        <% end %>
    <% end %>
<% end %>
