<div id="header-navbar" class="navbar navbar-inverse navbar-static-top" role="navigation">
  <div class="<%= container_classes %>">
    <div class="navbar-header">
    <button type="button" class="navbar-toggle btn collapsed" data-toggle="collapse" data-target="#user-util-collapse">
      <span class="sr-only">Toggle navigation</span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
    <%= link_to application_name, root_path, class: "navbar-brand" %>
      <p class="navbar-header nav navbar-nav">Research Data York</p>
    </div>

    <div class="collapse navbar-collapse" id="user-util-collapse">
      <%=
        render :partial=>'/user_util_links'
      %>
    </div>
  </div>
</div>

<% if controller_name == 'deposits' && action_name == 'index' && current_user && current_user.admin? %>
  <div id="search-navbar" class="navbar navbar-default navbar-static-top" role="navigation">
    <div class="<%= container_classes %>">
      <%=
        render 'deposits/search'
      %>
    </div>
  </div>

<% end %>
