<p>Hello</p>
<p>Data has been requested for dataset <%= @dataset.id %> ("<%= @dataset.title[0].to_s %>") by:</p>
<p><%= @requester_email %>
<p>You can view the dataset at <%= url_for deposits_url %>?search=true&q=<%= @dataset.id %></p>
<p>Thanks<br/>Research Data Auto-emailer</p>

