<%= form_for @deposit, url: deposit_path do |f| %>
    <% if @deposit.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@deposit.errors.count, "error") %> prohibited this deposit from being saved:</h2>

          <ul>
            <% @deposit.errors.full_messages.each do |message| %>
                <li><%= message %></li>
            <% end %>
          </ul>
        </div>
    <% end %>

    <div class="field">
      <%= f.label 'README' %><br>
      <p>Please provide any information that would help others use the data, for example deployment instructions or required software.</p>
      <%= f.text_area :readme %>
    </div>

    <div class="field">
      <%= f.label "Select a file to deposit" %>&nbsp;
      <%= f.file_field :file, multiple: true %>
    </div>

    <div class="actions">
      <%= f.submit 'Deposit' %>
    </div>
<% end %>
