<%= form_for @deposit, url: deposit_path, html: {id: "deposit_main_form"} do |f| %>
    <% if @deposit.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@deposit.errors.count, "error") %> prohibited this deposit from being saved:</h2>

          <ul>
            <% @deposit.errors.full_messages.each do |message| %>
                <li><%= message %></li>
            <% end %>
          </ul>
        </div>
    <% end %>

    <div class="field">
      <%= f.label 'README' %><br>
      <p>Please provide any information that would help others use the data, for example deployment instructions or required software.</p>
      <p>This information will be stored alongside and made available with your data.</p>
      <%= f.text_area :readme, cols: 100, rows: 6 %>
    </div>
<% end %>
<%= form_for @deposit, url: fileupload_path do |f| %>
    <div class="field">
      <%= f.label "Select local files to deposit" %>&nbsp;
      <%= f.file_field :file, id: "real_file_btn", style: "display: none", multiple: true, class: "file_upload" %><br>
      <button type="button" class="btn btn-large btn-success" id="file_upload_btn">Choose Files</button>
      <span id="file_upload_status">No file chosen</span>
    </div>

    <div class="field">
      <%= f.label "Select a local directory to deposit" %>&nbsp;
      <em>Note: this option only works on certain browsers, including Chrome and Safari</em>
      <%= f.file_field :file, id: "real_dir_btn", style: "display: none", multiple: true, class: "file_upload", directory: true, webkitdirectory: true, mozdirectory: true %><br>
      <button type="button" class="btn btn-large btn-success" id="dir_upload_btn">Choose Directory</button>
      <span id="dir_upload_status">No directory chosen</span>
    </div>

    <div class="field">
      <%= f.label "Select Google Drive files to deposit" %>&nbsp;<br>
      <button type="button" class="btn btn-large btn-success" id="google-drive-btn">Choose Files</button>
      <span id="google_drive_status2">No file chosen</span>
    </div>

    <%= render "formgoogledrive" %>

    <div id="progressbar_container">
      <div id="progressbar_empty" class="progressbar">
        <div id="progressbar_progress">&nbsp;</div>
      </div>
      <div id="progressinfo" class="progressbar">&nbsp;</div>
    </div>
    <div style="clear: both"></div>

    <div class="actions">
      <button type="button" id="submit_btn">Submit</button>
    </div>

<% end %>

<script>
  // this script will use jquery file upload to handle the uploading of files in chunks
  $(function () {
      var chunkSize = 1000000;
      var updateProgress = function (filename, progress) {
        $('#progressbar_progress').css('width', progress + '%');
        $('#progressinfo').html(filename + " " + progress + '%');
      };
      var getGoogleFileChunk = function (fileid, path, dataset_id, size, byte_from, byte_to) {
        $.ajax({
          url: "<%= getgdrivefile_path %>.json",
          data: {fileid: fileid, path: path, dataset_id: dataset_id, size: size, byte_from: byte_from, byte_to: byte_to },
          success: function (data) {
            var progress = parseInt(Math.min(data["byte_to"], data["filesize"]) / data["filesize"] * 100, 10);
            updateProgress(data["path"], progress);
            console.log(data);
            // get the next chunk if there's still data to get
            if (byte_to < size)
              getGoogleFileChunk(fileid, path, dataset_id, size, byte_to + 1, byte_to + chunkSize);
          } 
        });
      };
      // add a click handler for the submit button to fetch and deposit google drive files if they've selected some
      $('#submit_btn').on('click', function (ev) {
        // if 'selectedNodes' variable exists and is an array then the user has selected google drive files
        if (typeof selectedNodes !== 'undefined' && selectedNodes instanceof Array && selectedNodes.length > 0) {
          // remove default click handler
          $('#submit_btn').off('click', alertNoFiles);
          // for each google drive file selected
          for (var i = 0; i < selectedNodes.length; i++) {
            var filepath = relpath_to_node($("#jstree_div").jstree(), selectedNodes[i]);
            // call application method to download a chunk of the file and write it to the correct place for this deposit
            if ("data" in selectedNodes[i] && "size" in selectedNodes[i].data) {
              updateProgress(filepath, 0);
              getGoogleFileChunk(selectedNodes[i].id, filepath, "<%= @dataset.id %>", selectedNodes[i].data["size"], 0, chunkSize-1); 
            }
          }
        }
      });
      // add a default click handler for the submit button - an alert saying they haven't selected any files
      var alertNoFiles = function () {alert("You haven't selected and files");};
      $('#submit_btn').on('click', alertNoFiles);
      $('.file_upload').fileupload({
          dataType: 'json',
          sequentialUploads: true,
          maxChunkSize: chunkSize,
          add: function (e, data) {            
              // pass the webkitRelativePath value (which contains the relative path to the file) to the form handler 
              // so it can build dir structure, and also file actual size
              data.formData = {"path": data.files[0].webkitRelativePath, "size": data.files[0].size};
              // remove default click handler for submit button (that alerted about no selected files)
              $("#submit_btn").off('click', alertNoFiles);
              // and add new click handler
              $("#submit_btn").on('click', function (ev) {
                  ev.preventDefault();
                  $(this).attr("disabled", true);
                  $(this).html("Please wait...");
                  data.submit();
              });
          },
          progress: function (e, data) {
              var progress = parseInt(data.loaded / data.total * 100, 10);
              updateProgress(data.files[0].name, progress);
          },
          done: function (e, data) {
              $("#submit_btn").off('click');
              $.each(data.result.files, function (index, file) {
                  $('#progressinfo').html(file.name + " uploaded!");
              });
              // now that we've uploaded all the files, submit the main form
              $('#deposit_main_form').submit();
          }
      });
  });
</script>

