<%= form_for @deposit, url: deposit_path do |f| %>
    <% if @deposit.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@deposit.errors.count, "error") %> prohibited this deposit from being saved:</h2>

          <ul>
            <% @deposit.errors.full_messages.each do |message| %>
                <li><%= message %></li>
            <% end %>
          </ul>
        </div>
    <% end %>

    <div class="field">
      <%= f.label 'README' %><br>
      <p>Please provide any information that would help others use the data, for example deployment instructions or required software.</p>
      <p>This information will be stored alongside and made available with your data.</p>
      <%= f.text_area :readme, cols: 100, rows: 6 %>
    </div>
<% end %>
<%= form_for @deposit, url: fileupload_path do |f| %>
    <div class="field">
      <%= f.label "Select local files to deposit" %>&nbsp;
      <%= f.file_field :file, id: "real_file_btn", style: "display: none", multiple: true %><br>
      <button type="button" class="btn btn-large btn-success" id="file_upload_btn">Choose Files</button>
      <span id="file_upload_status">No file chosen</span>
    </div>

    <div class="field">
      <%= f.label "Select a local directory to deposit" %>&nbsp;
      <em>Note: this option only works on certain browsers, including Chrome and Safari</em>
      <%= f.file_field :file, id: "real_dir_btn", style: "display: none", multiple: true, directory: true, webkitdirectory: true, mozdirectory: true %><br>
      <button type="button" class="btn btn-large btn-success" id="dir_upload_btn">Choose Directory</button>
      <span id="dir_upload_status">No directory chosen</span>
    </div>

    <div class="field">
      <%= f.label "Select Google Drive files to deposit" %>&nbsp;<br>
      <button type="button" class="btn btn-large btn-success" id="google-drive-btn">Choose Files</button>
      <span id="google_drive_status2">No file chosen</span>
    </div>

    <%= render "formgoogledrive" %>

    <div id="progressbar_container">
      <div id="progressbar_empty" class="progressbar">
        <div id="progressbar_progress">&nbsp;</div>
      </div>
      <div id="progressinfo" class="progressbar"></div>
    </div>
    <div style="clear: both"/>

    <div class="actions">
      <%= f.submit 'Deposit', id: "submit_btn", data: { disable_with: 'Please wait...' }%>
    </div>

<% end %>

<script>
  // this script will use jquery file upload to handle the uploading of files in chunks
  $(function () {
      $('#real_file_btn').fileupload({
          dataType: 'json',
          sequentialUploads: true,
          maxChunkSize: 1000000,
          add: function (e, data) {            
              $("#submit_btn").on('click', function (ev) {
                  ev.preventDefault();
                  data.submit();
              });
          },
          progress: function (e, data) {
              var progress = parseInt(data.loaded / data.total * 100, 10);
              $('#progressbar_progress').css('width', progress + '%');
              $('#progressinfo').html("uploading " + data.files[0].name);
          },
          done: function (e, data) {
              $("#submit_btn").off('click');
              $.each(data.result.files, function (index, file) {
                  $('#progressinfo').html(file.name + " uploaded!");
              });
          }
      });
  });
</script>

