<% unless @deposit.notes.nil? or @deposit.notes.empty? %>
    <% @deposit.notes.gsub('[','').gsub(']','').gsub('"','').split(',').each_with_index do | note, index | %>
        <p class="note" id="note_<%= index %>"><%= note %> <a href="#" class="delete" data-dataset="<%= @dataset_id %>" data-noteidx="<%= index %>" title="Delete note">x</a></p>
        <%= form_for(@deposit, remote: true, :html => { :id => "delete_note_#{@dataset_id}_#{index}" }) do |f| %>
            <%= hidden_field(:deposit, :id) %>
            <%= hidden_field_tag "delete_note_at_index", index %>
        <% end %>        
  <% end %>
<% end %>


<%= form_for(@deposit, remote: true) do |f| %>
    <div class="field" >
      <%= hidden_field(:deposit, :id) %>
    </div>

    <div class="field">
      <label>Add Notes</label>
      <div class="field">
        <%= text_area_tag :notes %>
      </div>

    </div>

    <div class="actions">
      <%= f.submit 'Save' %>
    </div>
<% end %>

