<div class="search_box">
<%= form_tag("/deposits", method: "get") do %>
    <div class="field">
      <%= hidden_field_tag(:search, 'true') %>
    </div>
    <div class="field q_div">
      <%= label_tag(:q, "Search For ") %>
      <%= text_field_tag(:q, params[:q]) %>
    </div>
    <div class="field">
      <table>
        <tr>
          <td>

            <%= check_box_tag(:new, "new") %>
            <%= label_tag(:new, "New - Awaiting Action" ) %><br/>

            <%= check_box_tag('status[]',"awaiting-info") %>
            <%= label_tag('status[]', "Researcher Contacted - Awaiting Info" ) %><br/>
           
            <%= check_box_tag('status[]',"awaiting-data") %>
            <%= label_tag('status[]', "Researcher Contacted - Awaiting Data " ) %><br/>
           
            <%= check_box_tag(:doi,"doi") %>
            <%= label_tag('doi', "DOI Created") %><br/>

            <%= check_box_tag(:doi,"nodoi") %>
            <%= label_tag(:doi, "DOI Not Yet Created " ) %><br/>
            </td>
            <td>
           
            <%= check_box_tag('status[]',"nodata-external") %>
            <%= label_tag('status[]', "Data Externally Held " ) %><br/>

           
            <%= check_box_tag('status[]',"nodata-dept") %>
            <%= label_tag('status[]', "Data Held By Dept " ) %><br/>

             
              <%= check_box_tag('aip_status[]', "UPLOADED") %>
              <%= label_tag('aip_status[]', "Data Uploaded" ) %><br/>

              <%= check_box_tag('aip_status[]', "noaip") %>
              <%= label_tag('aip_status[]', "Data Not Uploaded" ) %><br/>
             
              <%= check_box_tag('status[]',"phd-data") %>
              <%= label_tag('status[]', "Data from PhD Student" ) %><br/>

            </td>
          <td>
            <%= check_box_tag('status[]', "held-pub-meta") %>
            <%= label_tag('status[]', "Metadata Held for Publication " ) %><br/>

            <%= check_box_tag('status[]', "held-pub-data") %>
            <%= label_tag('status[]', "Data Held for Publication " ) %><br/>

            <%= check_box_tag('dip_status[]', "UPLOADED") %>
            <%= label_tag('dip_status[]', "Data Available" ) %><br/>

            <%= check_box_tag('dip_status[]', "APPROVE") %>
            <%= label_tag('dip_status[]', "Data Awaiting Approval" ) %><br/>

            <%= check_box_tag('dip_status[]', "nodip") %>
            <%= label_tag('dip_status[]', "Data Not Available" ) %><br/>
          </td>
        </tr>
      </table>
      </div>
    <% unless params[:search].nil? %>
    <p>Current search params:

      <%= raw params[:q] %>
      <%= raw params[:new] %>
      <%= raw params[:doi] %>
      <%= raw params[:status] %>
      <%= raw params[:aip_status] %>
      <%= raw params[:dip_status] %>

    </p>
      <% end %>
      <div class="actions">
        <%= submit_tag 'Search' %>
        &nbsp;&nbsp;<%= link_to 'Clear search', deposits_path %>
      </div>
<% end %>
</div>