<%= form_for(@deposit, remote: true) do |f| %>
    <div class="field" >
      <%= hidden_field(:deposit, :id) %>
    </div>

    <div class="field">

      <% @deposit_status_general.each do |option| %>
        <% is_checked = checked(option["id"]) %>
        <%= check_box("deposit", "status", {:multiple => true, :checked => is_checked}, option["id"], nil) %>
        <span class="check_box_<%= is_checked.to_s %>"></span><span><%= option["label"] %></span> <br />
      <% end %>
      <br/><span>DATA</span><br/>
      <% @deposit_status_data.each do |option| %>
        <% is_checked = checked(option["id"]) %>
        <%= check_box("deposit", "status", {:multiple => true, :checked => is_checked}, option["id"], nil) %>
        <span class="check_box_<%= is_checked.to_s %>"></span><span><%= option["label"] %></span> <br />
      <% end %>
      <br/><span>ACCESS</span><br/>
      <% @deposit_status_access.each do |option| %>
        <% is_checked = checked(option["id"]) %>
        <%= check_box("deposit", "status", {:multiple => true, :checked => is_checked}, option["id"], nil) %>
        <span class="check_box_<%= is_checked.to_s %>"></span><span><%= option["label"] %></span> <br />
      <% end %>
      <br/><span>RETENTION</span><br/>
      <span class="check_box_<%= !selected("nil") %>"></span>
      <%= collection_select :deposit,:retention_policy, @deposit_status_retention.collect {|x| [x['id'], x['label']]},
                              :first, :last, {:selected => @deposit.retention_policy} %>
    </div>

    <div class="actions">
      <%= f.submit 'Save' %>
    </div>
<% end %>

