
<p><strong>TODO:</strong> Add login and display something for people who hit this page but don't have access.</p>

<table class="table">
  <tbody>
  <tr>
    <td>
      <h3>Add a Dataset from PURE</h3>
      <%= form_for @deposit, url: deposits_path do |f| %>
          <div class="field">
            <%= f.label 'Enter the PURE UUID' %><br>
            <%= f.text_field :pure_uuid %>
          </div>
          <div class="actions">
            <%= f.submit 'Add dataset' %>
          </div>
      <% end %>
    </td>
    <td>
      <h3>Add a Dataset from elsewhere</h3>
      <p><strong>To add a new dataset record from scratch</strong></p>
      <%= button_to 'Add dataset', new_deposit_path, :method => :get %>
    </td>
  </tr>
  </tbody>
</table>

<h1>Datasets</h1>

<% unless @deposits == [] %>
  <p>Listing <%= @deposits['numFound']%> dataset<% unless @deposits['numFound'] == 1 %>s<% end %></p>

<table class="table-striped table-bordered table">
  <thead>
  <tr>
    <th style="width:20%">Dataset</th>
    <th style="width:10%">Access</th>
    <th style="width:10%">Embargo</th>
    <th style="width:10%">Date Available</th>
    <th style="width:10%">Date of last access</th>
    <th style="width:20%">AIPs</th>
    <th style="width:20%">DIP Status</th>
  </tr>
  </thead>

  <tbody>
  <% @deposits['docs'].each do |upload| %>
      <tr>
        <td>
          <strong>PURE UUID:</strong> <%= upload['pure_uuid_tesim'][0] %><br />
          <strong>Title:</strong>  <%= upload['preflabel_tesim'][0] %><br />
          <strong>Deposit URL:</strong><br />
          <%= link_to 'http://researchdata.york.ac.uk/deposits/' + upload['id'], 'deposits/' + upload['id'] %>
          <br />
          <strong>Request URL: </strong><br />
          <%= link_to 'http://researchdata.york.ac.uk/datasets/' + upload['id'], 'datasets/' + upload['id'] %>
        </td>
        <td><%= upload['access_rights_tesim'][0] %></td>
        <td>TODO</td>
        <td><%= upload['date_available_tesim'][0] %></td>
        <td>TODO</td>
        <td>

        <% aip_list = aips(upload['id']) %>
          <% if aip_list.class == Array %>
            <%= aip_list.size %> aips deposited <br />
              <% aip_list.each do |aip| %>
                  <%= aip %>
              <% end %>
          <% else %>
             <%= aip_list %>
          <% end %>
        </td>
        <td>TODO</td>
      </tr>
  <% end %>
  </tbody>

</table>
<% end %>
<br>