<h1>Datasets</h1>

<p><%= link_to("Add a Dataset", deposits_path(:anchor => 'add_dataset'))  %></p>

<% unless @deposits == [] %>
  <p>Listing <%= @deposits['numFound']%> dataset<% unless @deposits['numFound'] == 1 %>s<% end %></p>

<table class="table-striped table-bordered table">
  <thead>
  <tr>
    <th style="width:20%">Dataset</th>
    <th style="width:5%">Access</th>
    <th style="width:5%">Created (PURE)</th>
    <th style="width:5%">Date Available</th>
    <th style="width:15%">Status</th>
    <th style="width:10%">AIP</th>
    <th style="width:10%">DIP</th>
    <!--
    <th style="width:10%">Last access</th>
    -->
  </tr>
  </thead>

  <tbody>
  <% @deposits['docs'].each do |upload| %>
      <tr>
        <td>
          <strong>PURE UUID:</strong> <%= upload['pure_uuid_tesim'][0] %><br />
          <strong>Title:</strong>  <%= upload['preflabel_tesim'][0] %><br />
          <% unless upload['creator_ssim'].nil? %>
          <strong>Creator:</strong>
          <% upload['creator_ssim'].each do | i |%>
            <%= get_preflabel(i) %>;&nbsp;
          <% end %>
              <br />
          <% end %>
          <strong>Managing Org:</strong>
          <% upload['pureManagingUnit_ssim'].each do | i |%>
              <%= get_preflabel(i) %>
              <% end %>
          <br />
          <% unless upload['doi_tesim'].nil? %>
              <strong>DOI:</strong>

              <% upload['doi_tesim'].each do | doi | %>
              <%= doi %>
              <%= check_doi(doi) %>
              ;&nbsp;
          <% end %>
              <br />
          <% end %>

          <% unless upload['pure_link_tesim'].nil? %>
              <strong>Links:</strong>
          <% upload['pure_link_tesim'].each do | link | %>
              <%= link %>;&nbsp;
          <% end %>
              <br />
          <% end %>
          <% unless upload['wf_status_tesim'] and (upload['wf_status_tesim'].include? 'nodata-external' or upload['wf_status_tesim'].include? 'nodata-dept')  %>
              <strong>Deposit URL:</strong><br />
          <%= link_to 'http://researchdata.york.ac.uk/deposits/' + upload['id'], 'deposits/' + upload['id'] %>
          <br />
          <strong>Request URL: </strong><br />
          <%= link_to 'http://researchdata.york.ac.uk/datasets/' + upload['id'], 'datasets/' + upload['id'] %>
          <% end %>
        </td>
        <td>

          <%= upload['access_rights_tesim'][0] %>
          <% if upload['access_rights_tesim'][0] == 'Embargoed' %>
          <br /> (check PURE for embargo length)
          <% end %>

        </td>
        <td><%= upload['pure_creation_tesim'][0].split('T')[0] %></td>
        <td>
          <% unless upload['date_available_tesim'].nil? %>
                 <%= upload['date_available_tesim'][0] %>
          <% end %>
        </td>

        <% aip_list = aips(upload['id']) %>
        <% dip_list = dips(upload['id']) %>
        <% aip = get_aip(upload['id']) %>
        <% dip = get_dip(upload['id']) %>

        <td>
          <% if upload['wf_status_tesim'].nil?  and (aip.nil? or aip.aip_status.empty?) and (dip.nil? or dip.dip_status.empty?) %>
              <%= render 'shared/alert' %>
              New Dataset<br />
          <% elsif (aip != nil and aip.aip_status == 'UPLOADED') or upload['wf_status_tesim'].include? 'nodata-dept' or upload['wf_status_tesim'].include? 'nodata-external' %>
              <%= render 'shared/tick' %>
              Upload Complete<br />
          <% elsif upload['wf_status_tesim'] != nil and (aip.nil? or aip.aip_status.empty? or aip.aip_status != 'UPLOADED') %>
              <%= render 'shared/alert' %>
              In Progress<br />
          <% end %>
          <% if upload['doi_tesim'].nil? %>
              <%= render 'shared/cross' %>
              No DOI<br />
              <% else %>
              <%= render 'shared/tick' %>
              DOI Created<br />
          <% end %>
          <%
            @deposit = Deposit.new
            @deposit.id = upload['id']
            @deposit.status = upload['wf_status_tesim']
          %>
          <div id="<%= upload['id'] %>">
            <%= render partial: 'status', object: @deposit %>
          </div>
        </td>
        <td>
          <% if aip_list.size != 0 %>
              <%= render 'shared/tick' %> Deposited <br />
              <% if aip.aip_status == 'UPLOADED' %>
                  <%= render 'shared/tick' %> Stored <br />
              <% elsif aip.aip_status == 'ERROR' or aip.aip_status == 'FAILED' %>
                  <%= render 'shared/cross' %>
                  <%= aip.aip_status %> <br />
              <% else %>
                  <%= render 'shared/cross' %> In Progress
              <% end %>
              <br />
              <%= aip_list.size %> aip<%unless aip_list.size < 2 %>s<%end%> deposited <br />
              <% aip_list.each do |aip| %>
                  <%= aip %> <br />
              <% end %>
          <% else %>
              <%= render 'shared/cross' %> Deposited <br /><br />
          <% end %>

        </td>
        <td>
          <% if dip_list.size > 0 %>
              <% unless dip.requestor_email.size == 0 %>
                  <%= render 'shared/tick' %> Requested </br>
                  <% if dip.dip_status == 'APPROVE' %>
                      <%= render 'shared/tick' %> Request Approved </br>
                  <% elsif dip.dip_status == 'UPLOADED' %>
                      <%= render 'shared/tick' %> Available </br>
                  <% else %>
                      <%= render 'shared/cross' %> Awaiting Approval </br>
                  <% end%>
              <% end %>
              <br />
              <%= dip_list.size %> dip
              <%unless dip_list.size < 2 %>s<%end%> created<br />
              <% dip_list.each do |dip| %>
                  <%= dip.id %><br />
                  requested by <%= dip.requestor_email.join %> <br/>
                  <% if dip.aip_status == 'UPLOADED' and dip.dip_status.nil? %>
                      <%= link_to 'Approve', '/reingest/' + upload['id'] %>
                  <% elsif dip.aip_status.nil? or dip.aip_status != 'UPLOADED' %>
                      Waiting for AIP upload
                  <% elsif dip.dip_status == 'UPLOADED' %>
                      <%= dip.dip_status %>
                  <% else %>
                      <%= dip.dip_status %>
                      <%= form_for @deposit, url: dipuuid_path do |f| %>
                          <%= f.hidden_field :id, :value =>upload['id'] %>
                          <div class="field">
                            <%= f.label 'DIP UUID' %><br>
                            <%= f.text_field :dipuuid %>
                          </div>
                          <div class="actions">
                            <%= f.submit 'Update DIP' %>
                          </div>
                      <% end %>
                  <% end %>
              <% end %>
          <% else %>
              <%= render 'shared/cross' %> Not Available <br /><br />
          <% end %>
        </td>
        <!--
        <td>TODO</td>
        -->
      </tr>
  <% end %>
  </tbody>

</table>
<% end %>

<%= render 'add_dataset' %>