
<p><strong>TODO:</strong> Add login and display something for people who hit this page but don't have access.</p>

<table class="table">
  <tbody>
  <tr>
    <td>
      <h3>Add a Dataset from PURE</h3>
      <%= form_for @deposit, url: deposits_path do |f| %>
          <div class="field">
            <%= f.label 'Enter the PURE UUID' %><br>
            <%= f.text_field :pure_uuid %>
          </div>
          <div class="actions">
            <%= f.submit 'Add dataset' %>
          </div>
      <% end %>
    </td>
    <td>
      <h3>Add a Dataset from elsewhere</h3>
      <p><strong>To add a new dataset record from scratch</strong></p>
      <%= button_to 'Add dataset', new_deposit_path, :method => :get %>
    </td>
  </tr>
  </tbody>
</table>

<h1>Datasets</h1>

<% unless @deposits == [] %>
  <p>Listing <%= @deposits['numFound']%> dataset<% unless @deposits['numFound'] == 1 %>s<% end %></p>

<table class="table-striped table-bordered table">
  <thead>
  <tr>
    <th style="width:20%">Dataset</th>
    <th style="width:20%">Workflow Status</th>
    <th style="width:10%">Access</th>
    <th style="width:10%">Date Created in PURE</th>
    <th style="width:10%">Date Available</th>
    <th style="width:10%">Date of last access</th>
    <th style="width:10%">Embargo</th>
    <th style="width:20%">AIP</th>
    <th style="width:20%">DIP</th>
  </tr>
  </thead>

  <tbody>
  <% @deposits['docs'].each do |upload| %>
      <tr>
        <td>
          <strong>PURE UUID:</strong> <%= upload['pure_uuid_tesim'][0] %><br />
          <strong>Title:</strong>  <%= upload['preflabel_tesim'][0] %><br />
          <strong>Creator:</strong>
          <% upload['creator_ssim'].each do | i |%>
            <%= get_preflabel(i) %>;&nbsp;
          <% end %>
          <br />
          <strong>Managing Org:</strong>
          <% upload['pureOrganisation_ssim'].each do | i |%>
              <%= get_preflabel(i) %>
              <% end %>
          <br />
          <strong>DOI:</strong>
          <% unless upload['doi_tesim'].nil? %>
          <% upload['doi_tesim'].each do | doi | %>
              <%= doi %>
              <%= check_doi(doi) %>
              ;&nbsp;
          <% end %>
          <% end %><br />
          <strong>Links:</strong>
          <% unless upload['pure_link_tesim'].nil? %>
          <% upload['pure_link_tesim'].each do | link | %>
              <%= link %>;&nbsp;
          <% end %>
          <% end %><br />

              <strong>Deposit URL:</strong><br />
          <%= link_to 'http://researchdata.york.ac.uk/deposits/' + upload['id'], 'deposits/' + upload['id'] %>
          <br />
          <strong>Request URL: </strong><br />
          <%= link_to 'http://researchdata.york.ac.uk/datasets/' + upload['id'], 'datasets/' + upload['id'] %>
        </td>
        <td>TODO</td>
        <td><%= upload['access_rights_tesim'][0] %></td>
        <td><%= upload['pure_creation_tesim'][0].split('T')[0] %></td>
        <td><%= upload['date_available_tesim'][0] %></td>
        <td>TODO</td>
        <td>TODO</td>
        <td>

        <% aip_list = aips(upload['id']) %>
          <% if aip_list.class == Array %>
            <%= aip_list.size %> aips deposited <br />
              <% aip_list.each do |aip| %>
                  <%= aip %> <br />
              <% end %>
          <% else %>
             <%= aip_list %>
          <% end %>
        </td>
        <td>
          <% dip_list = dips(upload['id']) %>
          <% if dip_list.class == Array %>
              <%= dip_list.size %> dips <br />
              <% dip_list.each do |dip| %>
                  <% @dip = Dlibhydra::Package.find(dip) %>
                  <%= @dip.id %><br />
                  requested by <%= @dip.first_requestor %> <br />
                  <% if @dip.dip_status.nil? %>
                    <%= link_to 'Approve', 'http://localhost:3000/reingest/' + upload['id'] %>
                  <% elsif @dip.dip_status == 'UPLOADED' %>
                      <%= @dip.dip_status %>
                  <% else %>
                    <%= @dip.dip_status %>
                      <%= form_for @deposit, url: dipuuid_path do |f| %>
                          <%= f.hidden_field :id, :value =>upload['id'] %>
                          <div class="field">
                            <%= f.label 'DIP UUID' %><br>
                            <%= f.text_field :dipuuid %>
                          </div>
                          <div class="actions">
                            <%= f.submit 'Update DIP' %>
                          </div>
                      <% end %>
                  <% end %>
              <% end %>
          <% else %>
              <%= dip_list %>
          <% end %>
        </td>
      </tr>
  <% end %>
  </tbody>

</table>
<% end %>
<br>