
<table class="table">
  <tbody>
  <tr>
    <td>
      <h3>Add a Dataset from PURE</h3>
      <%= form_for @deposit, url: deposits_path do |f| %>
          <div class="field">
            <%= f.label 'Enter the PURE UUID' %><br>
            <%= f.text_field :pure_uuid %>
          </div>
          <div class="actions">
            <%= f.submit 'Add dataset' %>
          </div>
      <% end %>
    </td>
    <td>
      <h3>Add a Dataset from elsewhere</h3>
      <p><strong>To add a new dataset record from scratch</strong></p>
      <%= button_to 'Add dataset', new_deposit_path, :method => :get %>
    </td>
  </tr>
  </tbody>
</table>

<h1>Datasets</h1>

<% unless @deposits == [] %>
  <p>Listing <%= @deposits['numFound']%> datasets</p>

<table class="table-striped table-bordered table">
  <thead>
  <tr>
    <th>PURE UUID</th>
    <th>Title</th>
    <th>Access</th>
    <th>Embargo</th>
    <th>Date Available</th>
    <th>Date of last access</th>
    <th>URLs</th>
    <th>AIP Status</th>
    <th>DIP Status</th>
  </tr>
  </thead>

  <tbody>
  <% @deposits['docs'].each do |upload| %>
      <tr>
        <td><%= upload['pure_uuid_tesim'][0] %></td>
        <td><%= upload['preflabel_tesim'][0] %></td>
        <td><%= upload['access_rights_tesim'][0] %></td>
        <td>e</td>
        <td><%= upload['date_available_tesim'][0] %></td>
        <td>a</td>
        <td>
          <strong>Transfer URL:</strong><br />
          http://researchdata.york.ac.uk/deposit/<%= upload['id'] %><br />
          <strong>Request URL: </strong><br />
          http://researchdata.york.ac.uk/dataset/<%= upload['id'] %>
        </td>
        <td>aip</td>
        <td>dip</td>
      </tr>
  <% end %>
  </tbody>

</table>
<% end %>
<br>