<%# include javascript and css libraries for jstree (in /vendor/assets) which will help user browse google drive files %>
<% content_for :head do %>
  <%= stylesheet_link_tag "jstree.min.css" %> 
  <%= javascript_include_tag "jstree.min.js" %> 
<% end %>

<% if @dataset.nil? %>

    <h1>Thanks!</h1>

    <p>Your deposit was successful.</p>
    <p>If you submit another datast to PURE, we'll send you a new deposit link.</p>

<% else %>

    <%= @notice %>

    <%= render 'datasets/dataset_metadata' %>

    <%if @dataset.aips.size > 0 %>
        <p>
          <strong><%= @dataset.aips.size %></strong> data deposit
          <% if @dataset.aips.size > 1%>
              <%=s%> have
          <%else%>
              has
          <%end%>
          been added for this PURE dataset.
        </p>
        <p>
          If you need to add, remove or update the data, please contact Matthew (unless you are Matthew).
        </p>
    <% else %>
        <h1>Data Deposit</h1>
        <%= render 'formaip' %>
    <% end %>

<% end %>
