<%# include javascript and css libraries for jstree (in /vendor/assets) which will help user browse google drive files %>
<% content_for :head do %>
    <%= stylesheet_link_tag "jstree.css" %>
    <%= javascript_include_tag "jstree.min.js" %>
<% end %>

<% if @dataset.nil? %>

    <h1>Thanks!</h1>

    <p>Your deposit was successful.</p>
    <p>If you submit another dataset to PURE, we'll send you a new deposit link.</p>

<% else %>
    <h1>Data Deposit</h1>
    <h2><%= @dataset.title[0] %></h2>
    <p><% if @dataset.doi != [] and @dataset.doi != [""] %><strong>DOI: </strong><%= @dataset.doi.join("<br/>") %><% end %></p>

    <% if @dataset.aips.size > 0 %>
        <p>
          <strong><%= @dataset.aips.size %></strong>
          data deposit
          <% if @dataset.aips.size > 1 %>s have
          <% else %>
              has
          <% end %>
          been added for this PURE dataset.
        </p>
    <% else %>
        <p>By transferring data to the Research Data York service you are agreeing to the terms and conditions 
        as stated in the Process for transferring research data to Research Data York 
        (<a href="https://www.york.ac.uk/library/info-for/researchers/data/research-data-york/transferring-data" target="_blank">https://www.york.ac.uk/library/info-for/researchers/data/research-data-york/transferring-data</a>). 
        Please note that, if your data is open (as recorded in the 'access options' field in Pure), a 
        <a href="https://creativecommons.org/licenses/by/4.0" target="_blank">Creative Commons Attribution (CC BY) licence</a>
        will be applied to it unless you instruct us otherwise.</p>
        <%= render 'formaip' %>
    <% end %>

<% end %>
