<% if @dataset.nil? %>

    <h1>Thanks!</h1>

    <p>Your deposit was successful.</p>
    <p>If you submit another datast to PURE, we'll send you a new deposit link.</p>

<% else %>

    <h1>Data Deposit</h1>

    <%= @notice %>

    <p>
      <strong>PURE unique identifier:</strong> <%= @dataset.pure_uuid  %><br />
      <strong>Dataset title:</strong> <%= @dataset.title  %><br />
    </p>
    <%if @dataset.aip.size > 0 %>
        <p>
          <strong><%= @dataset.aip.size %></strong> data deposit
          <% if @dataset.aip.size > 1%>
              <%=s%> have
          <%else%>
              has
          <%end%>
          been added for this PURE dataset.
        </p>
        <p>
          If you need to add, remove or update the data, please contact Matthew (unless you are Matthew).
        </p>
    <% else %>
        <%= render 'formaip' %>
    <% end %>

<% end %>
